<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>
    <form action="/madlib">
        <div>
            <label for="person">Person</label>
            <input type="text" name="person" id="person" value="person">
        </div>
        <div>
            <label for="color">Color</label>
            <input type="text" name="color" id="color" value="color">
        </div>
        <div>
          <label for="noun">Noun</label>
          <input type="text" name="noun" id="noun" value="noun">
        </div>
        <div>
            <label for="adjective">Adjective</label>
            <input type="text" name="adjective" id="adjective" value="adjective">
        </div>
      <input type="submit" value="Submit">
    </form>
</body>
</html>